html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  margin: 0;
}

/* end of css reset */

body {
  width: 100%;
  *zoom: 1;
  font-family: Avenir, 'Lato', sans-serif;
  font-size: 18px;
  color: #595554;
}
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
p {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
h1 {
  font-weight: bold;
}
.lp-btn {
  font-size: 1em;
  text-decoration: none;
  border: 2px solid #2eabe8;
  background-color: rgba(46,171,232,0);
  color: #2eabe8;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 11px 19px;
  cursor: pointer !important;
}
.lp-btn:focus {
  outline: 0;
}
.lp-btn:hover {
  background-color: rgba(46,171,232,0.1);
}

.lp-float-l {
  float: left;
}
.lp-float-r {
  float: right;
}
.lp-txt-align-c {
  text-align: center;
}
.lp-txt-align-l {
  text-align: left;
}
.lp-txt-align-r {
  text-align: right;
}
.lp-m-top-0 {
  margin-top: 0em !important;
}
.lp-m-bot-0 {
  margin-bottom: 0em !important;
}
.lp-m-top-1 {
  margin-top: 1em !important;
}
.lp-m-bot-1 {
  margin-bottom: 1em !important;
}
.lp-m-top-2 {
  margin-top: 2em !important;
}
.lp-m-bot-2 {
  margin-bottom: 2em !important;
}
.lp-m-top-3 {
  margin-top: 3em !important;
}
.lp-m-bot-3 {
  margin-bottom: 3em !important;
}
.lp-m-top-4 {
  margin-top: 4em !important;
}
.lp-m-bot-4 {
  margin-bottom: 4em !important;
}
.lp-m-top-5 {
  margin-top: 5em !important;
}
.lp-m-bot-5 {
  margin-bottom: 5em !important;
}
.lp-m-top-6 {
  margin-top: 6em !important;
}
.lp-m-bot-6 {
  margin-bottom: 6em !important;
}
.lp-m-top-7 {
  margin-top: 7em !important;
}
.lp-m-bot-7 {
  margin-bottom: 7em !important;
}
.lp-m-top-8 {
  margin-top: 8em !important;
}
.lp-m-bot-8 {
  margin-bottom: 8em !important;
}
.lp-m-top-9 {
  margin-top: 9em !important;
}
.lp-m-bot-9 {
  margin-bottom: 9em !important;
}
.lp-m-top-1p1 {
  margin-top: 1.1em !important;
}
.lp-m-top-p1 {
  margin-top: 0.1em !important;
}
.lp-m-bot-p1 {
  margin-bottom: 0.1em !important;
}
.lp-m-top-1p2 {
  margin-top: 1.2em !important;
}
.lp-m-top-p2 {
  margin-top: 0.2em !important;
}
.lp-m-bot-p2 {
  margin-bottom: 0.2em !important;
}
.lp-m-top-1p3 {
  margin-top: 1.3em !important;
}
.lp-m-top-p3 {
  margin-top: 0.30000000000000004em !important;
}
.lp-m-bot-p3 {
  margin-bottom: 0.30000000000000004em !important;
}
.lp-m-top-1p4 {
  margin-top: 1.4em !important;
}
.lp-m-top-p4 {
  margin-top: 0.4em !important;
}
.lp-m-bot-p4 {
  margin-bottom: 0.4em !important;
}
.lp-m-top-1p5 {
  margin-top: 1.5em !important;
}
.lp-m-top-p5 {
  margin-top: 0.5em !important;
}
.lp-m-bot-p5 {
  margin-bottom: 0.5em !important;
}
.lp-m-top-1p6 {
  margin-top: 1.6em !important;
}
.lp-m-top-p6 {
  margin-top: 0.6000000000000001em !important;
}
.lp-m-bot-p6 {
  margin-bottom: 0.6000000000000001em !important;
}
.lp-m-top-1p7 {
  margin-top: 1.7000000000000002em !important;
}
.lp-m-top-p7 {
  margin-top: 0.7000000000000001em !important;
}
.lp-m-bot-p7 {
  margin-bottom: 0.7000000000000001em !important;
}
.lp-m-top-1p8 {
  margin-top: 1.8em !important;
}
.lp-m-top-p8 {
  margin-top: 0.8em !important;
}
.lp-m-bot-p8 {
  margin-bottom: 0.8em !important;
}
.lp-is-hidden {
  display: none !important;
}
.lp-is-invisible {
  visibility: hidden;
}
.lp-is-visible {
  visibility: visible;
}
body h1 {
  font-size: 1.5555555555555556em;
  line-height: 1.5em;
  color: #333;
}
body h2 {
  font-size: 1.3333333333333333em;
  margin-top: 1em;
  margin-bottom: 0.45em;
  line-height: 28px;
  font-weight: 100;
  color: #2eabe8;
}

p:first-child,
h1:first-child,
h2:first-child,
h3:first-child {
  margin-top: 0;
}
p:last-child,
h1:last-child,
h2:last-child,
h3:last-child {
  margin-bottom: 0;
}
#section-hero h2 {
  color: #adadad !important;
}
#section-hero .section-content {
  padding-top: 0;
}
#section-testimonials {
  background-color: #2eabe8;
  color: #fff;
  padding-bottom: 40px;
}
#section-testimonials h1 {
  font-size: 2.5rem !important;
  color: #fff !important;
  margin-bottom: 40px;
}
#section-testimonials h2 {
  color: #fff !important;
}

.section-content {
  padding: 20px;
  padding-top: 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#section-hero {
  padding-top: 60px;
}
.section-content {
  position: static;
}
.demo-anim {
  position: absolute;
  left: 0;
  width: auto;
  height: 100%;
  right: 50%;
  bottom: 50%;
  -webkit-transform: translateX(-50%) translateY(50%);
  -moz-transform: translateX(-50%) translateY(50%);
  -o-transform: translateX(-50%) translateY(50%);
  -ms-transform: translateX(-50%) translateY(50%);
  transform: translateX(-50%) translateY(50%);
  max-height: 500px;
  pointer-events: none;
}
footer {
  width: 100%;
  font-size: 0.8em;
  background-color: #2eabe8;
  padding: 5px;
}
footer ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
footer ul li {
  list-style: none;
  display: inline-block;
  padding: 0;
}
footer ul li a {
  color: #cbcbcb;
  border-bottom: none;
}
#fp-nav.fp-show-active {
  display: none;
}
#fp-nav.fp-show-active li {
  margin: 10px !important;
}
#fp-nav.fp-show-active li:first-child {
  display: none !important;
}
#fp-nav.fp-show-active li:last-child {
  display: none !important;
}
#fp-nav.fp-show-active a {
  border-bottom: none !important;
}
#fp-nav.fp-show-active a span {
  background-color: #c2e6f8;
}
#fp-nav.fp-show-active a.active span {
  background-color: #2eabe8;
}
.heart {
  color: #bd2240;
}
.section-content {
  min-height: 600px;
}
#features {
  display: flex;
  flex-direction: row;
  margin: 100px 50px;
}
#features article {
  margin: auto;
  flex-grow: 1;
  width: 33%;
  padding: 20px;
}
#features .feature-img {
  width: 100%;
  height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-bottom: 40px;
}
#features h2 {
  min-height: 80px;
}
.twitter-tweet-rendered {
  position: static;
  visibility: visible;
  display: block;
  transform: rotate(0deg);
  max-width: 100%;
  width: 500px;
  min-width: 220px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: #1c2022;
  text-align: left;
  padding: 20px;
  font-size: 16px;
  font-family: Helvetica, Roboto, Segoe UI, Calibri, sans-serif;
  border-radius: 5px;
}
.twitter-tweet-rendered img {
  left: 50%;
}

@media (max-width: 900px) {
  #features {
    flex-direction: column;
  }
  #features article {
    width: 100%;
    margin-top: 40px;
  }
  #features h2 {
    min-height: auto;
    margin-bottom: 10px;
  }
}